<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Models</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">P3.js</a>
  </nav>
  <div class="container">
    <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h1>List of models</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Direction</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Cool printer</td>
            <td>Printing</td>
            <td><a href="#">https://googlemaps.some</a></td>
          </tr>
        </tbody>
      </table>
</div>
</div>
</div>
</body>
</html>
